{{extend 'layout.html'}}
<section class="span10 offset1">
	<div class="btn-group nav pull-right">
		<button id="geo_distance" class="btn" title="Reload all"><img alt='' class='spinner' src='/parkbz/static/img/spinner.gif'><i class="icon-screenshot"></i></button><button id="force_all" class="btn" title="Get your position"><i class="icon-refresh"></i></button><button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button><ul class="dropdown-menu">
		<li class="disabled"><a id="switch_on"  href="#">{{=T('Turn live update on')}}</a></li>
		<li><a id="switch_off" href="#">{{=T('Turn live update off')}}</a></li>
	</ul>
	</div>
	<table id='parks' class="table table-striped table-bordered table-condensed">
	<thead><tr class=info><th>{{=T('Parking')}}</th><th>{{=T("Free slots")}} <a class="hidden-phone pull-right" title="{{=T('Data are updated every 5 minutes')}}"><i class="icon-info-sign"></i></a></th></tr></thead>	
	<tbody>
	{{for park in parks:}}
		<tr id="park_{{=park['park_id']}}">
		<td><h4><a id="park_link{{=park['park_id']}}" href="{{=get_park_link(park)}}" data-lgt={{=park['longitude']}} data-lat={{=park['latitude']}}>{{=park['name']}} </a></h4>
<address><strong><abbr title="{{=T('Address')}}">{{=T('Address')}}:</abbr></strong> {{=park['address']}} - <strong><abbr title="{{=T('Phone')}}">{{=T('Phone')}}:</abbr></strong> {{=(park['phone'] or '--')}}</address>
		</td>
		<td title="{{=T('Click to update')}}" class="refresh accordion-toggle">
			<span id="{{='spinner_%s' % park['park_id']}}" class="spinner pull-right">
				<img alt='' src="/parkbz/static/img/spinner.gif">
			</span>
			<div class="placeholder_progress">{{#include 'default/park_bar.html'}}</div>		
		</td>
	{{pass}}	
	</tbody></table>
</section>
<script>
	var ajax_active = true;
	$('span.spinner').hide();
	$('#geo_distance img.spinner').hide();

	$('#parks').on('click', '.refresh', function() {
		id = $(this).parents('tr').attr('id').split('_')[1];
		get_freeSlots(id);
	});
	$(document).on('click', '#force_all', function() {
		$( "tr[id^='park_']" ).each(function() {
			park_id = $(this).attr('id').split('_')[1];	
			get_freeSlots(park_id, true);	
		});
	});
	$(document).on('click', '#switch_off', function() {	
		ajax_active = false;
		$('#switch_on').parent().toggleClass('disabled');
		$('#switch_off').parent().toggleClass('disabled');
	});
	$(document).on('click', '#switch_on', function() {
		ajax_active = true;
		$('#switch_on').parent().toggleClass('disabled');
		$('#switch_off').parent().toggleClass('disabled');
	});

	{{for park in parks:}}
		//setTimeout( function() {get_freeSlots({{=park['park_id']}})}, (20+Math.floor((Math.random()*10)+1))*1000 );
		setTimeout(	function() {get_freeSlots({{=park['park_id']}})}, (Math.floor((Math.random()*10)+1))*250 );
	{{pass}} 

	function parseAnswer(park, json) {
		html = json.plain_html;
		/*freeslots = json.freeslots;
		if (parseInt($('#freeslots_' + park).text()) !== parseInt(freeslots)) {
			progress = $('#park_' + park + ' .progress').html(html);	
		}*/
		progress = $('#park_' + park + ' .placeholder_progress');
		if (html) {
			progress.fadeIn(2000, function() {
				progress.html(html);
			});
			setTimeout( function() {get_freeSlots(park)}, 5*60*1000);
		} else {
			setTimeout( function() {get_freeSlots(park)}, 20*1000);
		}
		$(progress).fadeTo(0.5, 1);
		$('#spinner_' + park).hide();	
	}

	function get_freeSlots(park, rapid) {
		if (ajax_active !== true && rapid !== true) return;
		progress = $('#park_' + park + ' .placeholder_progress');
		freeslots = $('#freeslots_' + park).text()
		$.ajax({
			'dataType':'json', 
			'url':'/parkbz/default/freeslots/' + park + '/' + freeslots,
			'beforeSend': function (xhr) {
				$(progress).fadeTo(0, 0.5);
				$('#spinner_' + park).show();
			},
			'success':function(data){
				parseAnswer(park, data);
			},
		}); 
	}
	if (!navigator.geolocation) {  
		$('#geo_distance').hide();
	}

	$(document).on('click', '#geo_distance', function() {
		$(".duration").remove();
		$(".distance").remove();
		$('#geo_distance i').hide()
		$('#geo_distance img').show();
		navigator.geolocation.getCurrentPosition(successCallback,
		                                         errorCallback,
		                                         {enableHighAccuracy: true, timeout : 90000});
	});

	function successCallback(position) {
		$('#geo_distance i').show()
		$('#geo_distance img').hide();
		var directionsDisplay;
		var directionsService = new google.maps.DirectionsService();
		var start = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
		var position;
		var destinations = [];
		{{for park in parks:}}
			position = new google.maps.LatLng({{=park['latitude']}}, {{=park['longitude']}});
			destinations.push(position);
		{{pass}} 	
		var service = new google.maps.DistanceMatrixService();
		service.getDistanceMatrix( {
			origins: [start],
			destinations:destinations,
			travelMode: google.maps.DirectionsTravelMode.DRIVING
		}, parseDistanceResponse );

	}

	function parseDistanceResponse(response, status) {
		if (status == google.maps.DirectionsStatus.OK) {
			var destinations = response.destinationAddresses;
			var results = response.rows[0].elements;	//First origin
			for (var j = 0; j < results.length; j++) {
				var element = results[j];
				var distance = element.distance.text;
				var duration = element.duration.text;
				console.log(destinations[j], distance, duration);
				// icon-road, icon-time
				$('tbody tr:nth-child('+(j+1)+') td h4').append("<span class='label label-success distance'><i class='icon-road'></i>"+distance+"</span><span class='label label-info duration'><i class='icon-time'></i>"+duration+"</span>");

	  		}
		}
	}

	function errorCallback(error) {
		$('#geo_distance i').show()
		$('#geo_distance img').hide();
		alert("Geo service not available");
		return;
		switch(error.code) {
			case error.TIMEOUT:
				// Acquire a new position object.
				navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
				break;
			default:
				console.log('errore'); // treat the other error cases.
		};
	}


</script>
