{{extend 'layout.html'}}
<div class="">
	<table class="table table-striped table-bordered">
	<thead><tr class=info><th>#park</th><th>Free slots</th></tr></thead>	
	<tbody>
	{{for park in parks:}}
		<tr id="park_{{=park['park_id']}}">
		<td>{{=park['name']}}</td>
		<td>{{include 'default/park_bar.html'}}	
	{{pass}}	
	</tbody></table>
</div>
<script>

function parseAnswer(park, json) {
	html = json.plain_html;
	/*freeslots = json.freeslots;
	if (parseInt($('#freeslots_' + park).text()) !== parseInt(freeslots)) {
		progress = $('#park_' + park + ' .progress').html(html);	
	}*/
	if (html) {
		console.log('update', park);
		progress = $('#park_' + park + ' .progress');
		progress.fadeIn(2000, function() {
			progress.html(html);
			progress.fadeIn();
		});

		setTimeout( function() {get_freeSlots(park)}, 5*60*1000);
	} else {
		setTimeout( function() {get_freeSlots(park)}, 20*1000);
	}
}

{{for park in parks:}}
	get_freeSlots({{=park['park_id']}});
{{pass}} 

function get_freeSlots(park) {
	freeslots = $('#freeslots_' + park).text()
	$.ajax({
		'dataType':'json', 
		'url':'/parkbz/default/freeslots/parkID/freeSlots'.replace(/parkID/, park).replace(/freeSlots/, freeslots),
		'success':function(data){
			parseAnswer(park, data);
		},
	}); 
}

</script>
