<!doctype html>
<html lang="de" ng-app="infomobility">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=10" >
	  	<title>InfoMobility</title>
	  	<link rel="stylesheet" href="css/app.css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
		 
	    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	   	<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/angular-1.0.1.min.js"></script>
	  	<script src="js/app.js"></script>
	  	<script src="js/controllers.js"></script>
	  	<script src="js/filters.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular-locale_it-it.js"></script>
		<script src="js/angular-locale_de-de.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/OpenLayers.js"></script>
    </head>

    <body  ng-controller="MobilityCtrl" ng-cloak>
    <div class="well maincontainer" ng-init="getMap()">
	   	<h1>Demo: Openlayers displays geodata through wms</h1>
	   	<div>
	   		<span class="label label-success">0-30 %</span>
	   		<span class="label label-warning">30-80 %</span>
	   		<span class="label label-important">80-100 %</span>
	   	</div>
	   	<div id="testmap"><!--  --></div>
   </div>
    <!-- <div class="well maincontainer row-fluid" ng-init="getWPSMap()">
	   	<h1>Demo: Openlayers displays geodata through wps</h1>
	   	<div id="testmap span8"></div>
	   	
   </div> -->
	</body>
</html>
