{{extend 'layout.html'}}

<section>
<div class="span9">
	<div class="chart">
		<div id="map_canvas" style="width: 100%; height: 100%"></div>
	</div>
</div>

<div class="span3">
	<div class="well">
	<h3>{{=T('Free slots')}}</h3>
	<div class="nav">
   		<span class="label label-important">{{=T('low')}}</span>
   		<span class="label label-warning">{{=T('medium')}}</span>
   		<span class="label label-success">{{=T('high')}}</span>
   	</div>
	<div style="position: relative">
		<span class="row-fluid" style="position:absolute; z-index: 101;"><h3 class="span12 pie_label">{{=park['freeslots']}}</h3></span>
		<div id="pie_chart"  style="height:230px"></div>
	</div>
	</div>
</div>
</section>

<script type="text/javascript">
	// Map
	var zoom = 15;
	var lon  = {{=park['longitude']}};
	var lat  = {{=park['latitude']}};
	var map = new OpenLayers.Map("map_canvas", {
		projection: "EPSG:900913",
	});
	var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
	var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
	var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

	// layers
	var layer_osm = new OpenLayers.Layer.OSM();

	var options_parking = {
		opacity: 1, 
		isBaseLayer: false, 
		visibility: true, 
		singleTile: true,
	};
	var wmscURL = [ "http://mapserver.tis.bz.it/cgi-bin/mapserv?" ];
	var layer_parking = new OpenLayers.Layer.WMS( 'Südtirol',wmscURL, {
		layers: ['elgis:parkingarea'], 
		map: "relay_2.map",
		format: 'image/png',
		transparent: true,
		exceptions:'application-vnd.ogc.se_inimage'	
	}, options_parking);
	
	var layer_markers = new OpenLayers.Layer.Markers( "Markers" );
	layer_markers.addMarker(new OpenLayers.Marker(position));

	map.addLayer(layer_osm);
	map.addLayer(layer_parking);
	map.addLayer(layer_markers);
	map.setCenter(position, zoom );

	// pie chart
	var options = {
		series: {
			pie: { 
				innerRadius: 0.4, 
				show: true,
				stroke: {color: '#E3E3E3'
				},
				label: {
					show: false,
					radius: 0.2,
				},
			},
       	},
		legend: {show: false},		
		/*grid: {
          		hoverable: false,
	            clickable: false,
        },*/
	};
	var placeholder = $("#pie_chart");
	data = [{'data':{{=park['freeslots']}}, 
			'label': '{{=T('Free slots')}}',
			'color': '{{='#B94A48' if park['freeslots_rate'] <30 else '#F89406' if park['freeslots_rate'] < 80 else '#468847'}}',
			}, 
			{'data':{{=park['slots_taken']}}, 
			'label': '{{=T('Fdeeeree slots')}}',
			'color': '#F5F5F5'}]
	var plot = $.plot($(placeholder), data, options);



</script>
