{{if globals().get('tooltip', False):}}
<div id="park_{{=park['park_id']}}" class="carpark">
{{else:}}
<div id="park_{{=park['park_id']}}" class="carpark box {{='odd' if (pos+1)%2==1 else ''}} {{='third' if (pos+1)%3==0 else ''}}">
{{pass}}
<div class="carpark-aux">
	<h2>{{=park['name']}}</h2>
	<ul>
		<li class="address"><a href="#">{{=park['address']}}</a></li>
		<li class="phone"><a href="tel:{{=(park['phone'] or '--')}}">{{=(park['phone'] or '--')}}</a></li>
	</ul>
	<div class="slots"><strong class="available-slots {{='full' if park['freeslots'] < 10 else ('almost-full' if park['freeslots'] < 70 else 'available')}}"><span class="number">{{=park['freeslots']}}</span> posti liberi</strong> su <strong>{{=park['slots']}} posti totali</strong></div>
	<div class="forecast">
		<h3>Previsione 24h</h3>
		<div class="graph">
			<img src="{{=URL('static','images/plc-graph.gif')}}" /> 	
		</div>
	</div>	
</div>
</div>
