<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@integreenlife">
<meta name="twitter:title" content="{{=settings.title}}">
<meta name="twitter:description" content="{{=settings.description}}">
<meta name="twitter:creator" content="@ilvalle">
<!--meta name="twitter:image" content="{{=settings.logo_url}}"-->
<meta name="twitter:image:src" content="{{=settings.logo_url_big}}">

<!-- Open Graph data -->
<meta property="og:title" content="{{=settings.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://parking.bz.it" />
<meta property="og:image" content="{{=settings.logo_url}}" />
<meta property="og:description" content="{{=settings.description}}" /> 
<meta property="og:site_name" content="{{=settings.title}}" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{=settings.title}}">
<meta itemprop="description" content="{{=settings.description}}">
<meta itemprop="image" content="{{=settings.logo_url}}">
